.container-slider-custome {
  max-width: 100%;
  padding: 30px;
  background-color: $color-gray-400;
}

.container-slider-custome-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-slider-custome-block-col-1 {
  width: 50%;
  background-color: red;
}
.container-slider-custome-block-col-2 {
  width: 40%;
}
